<%- include("header") -%>

<div class="middle">
  <h2><b><%= pageejs%></b></h2>

  <P
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, recusandae.
    Mollitia nobis accusamus dolorum est tempore maxime unde. Hic aspernatur
    delectus aliquam maiores tempora ex saepe vero officia rem iusto.</P
  >

  <p><b><%=contactejs%></b></p>
</div>
<%- include("footer") -%>
