<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOG</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />

    <div class="top">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.ejs">About</a></li>
        <li><a href="/contact.ejs">Contact</a></li>
      </ul>

      <h1>BLOG</h1>
    </div>
  </head>
  <body></body>
</html>
